body {
  width: 320px;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  color: #3d6ddb;
  margin: 0;
}

.container {
  background-color: #eee;
  border-radius: 8px;
  padding: 20px;
}

h2 {
  color: #3d6ddb;
  margin-top: 0;
  border-bottom: 2px solid #3d6ddb;
  padding-bottom: 10px;
}

h3 {
  color: #3d6ddb;
  margin-top: 20px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 4px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.settings-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  color: #3d6ddb;
}

.icon-button:hover .settings-icon {
  transform: rotate(30deg);
}

#saveConfig {
  background-color: #3d6ddb;
  color: #eee;
}

#scanAll {
  background-color: #3d6ddb;
  color: #eee;
}

#clearLinks {
  background-color: #3d6ddb;
  color: #eee;
}

button:hover {
  opacity: 0.8;
}

#statusMessage {
  margin-top: 15px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  display: none;
}

#statusMessage.success {
  background-color: #dff0d8;
  color: #3c763d;
}

#statusMessage.error {
  background-color: #f2dede;
  color: #a94442;
}

#savedLinks {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  background-color: #eee;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 10px;
}

.link-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.link-item:last-child {
  border-bottom: none;
}

.link-item:hover {
  background-color: #ddd;
}

.link-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

.link-content {
  flex-grow: 1;
}

.link-title {
  font-weight: bold;
  color: #3d6ddb;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.link-url {
  font-size: 0.8em;
  color: #666;
  word-break: break-all;
}

/*-----------------------------------------------*/
/* Dark theme styles */
/*-----------------------------------------------*/

.dark-theme {
  background-color: #333;
  color: #ccc;
}

.dark-theme .container {
  background-color: #333;
}

.dark-theme h2 {
  color: #D7E04B;
  border-bottom-color: #D7E04B;
}

.dark-theme h3 {
  color: #D7E04B;
}

.dark-theme textarea {
  background-color: #444;
  color: white;
  border-color: #333;
}

.dark-theme button,
.dark-theme .icon-button {
  background-color: #555;
  color: #D7E04B;
}

.dark-theme #statusMessage.success {
  background-color: #456745;
  color: #dff0d8;
}

.dark-theme #statusMessage.error {
  background-color: #764545;
  color: #f2dede;
}

.dark-theme .button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.dark-theme button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dark-theme .icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dark-theme .icon-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.dark-theme .settings-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
  color: #D7E04B;
}

.dark-theme .icon-button:hover .settings-icon {
  transform: rotate(30deg);
}

.dark-theme #saveConfig {
  background-color: #D7E04B;
  color: #333;
}

.dark-theme #scanAll {
  background-color: #D7E04B;
  color: #333;
}

.dark-theme #clearLinks {
  background-color: #D7E04B;
  color: #333;
}

.dark-theme button:hover {
  opacity: 0.8;
}

.dark-theme #savedLinks {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 10px;
  background-color: #333;
  border: 1px solid #343434;
  border-radius: 4px;
  padding: 10px;
}

.dark-theme .link-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #D7E04B;
}

.dark-theme .link-item:last-child {
  border-bottom: none;
}

.dark-theme .link-item:hover {
  background-color: #222;
}


.dark-theme .link-content {
  flex-grow: 1;
}

.dark-theme .link-title {
  font-weight: bold;
  color: #D7E04B;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.dark-theme .link-url {
  font-size: 0.8em;
  color: white;
  word-break: break-all;
}